  body{
    overflow: hidden;
    background-color: #F0EAE6;
  }
#main{
  border: 15px solid darkgoldenrod;
  height: 90vh;
  width: 180vh;
  display: flex;
  margin: 30px 70px 90px;
  border-radius: 20px;
}
#ti{
  height: 90vh;
  width:75vh;
  background-color: #2d2926ff;
}
h1{
  font-size: 70px;
  opacity: 29%;
  margin: 50px 140px 100px;
  border: 2px solid bisque;

  
}
.uinp{
  font-size: 25px;
  margin: 80px 40px 50px;
  height: 60px;
  width: 300px;
  border-radius: 40px;
}
.ubtn{
  height: 60px;
  width: 80px;
  border-radius: 40px;
  border: 4px solid darkgoldenrod;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  color: #e94b3cff;
}
.delbtn{
  height: 60px;
  width: 80px;
  border-radius: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  color: #e94b3cff;

  border: 4px solid blanchedalmond;

}

#dis{
  height: 90vh;
  width:105vh;
  background-color: rgb(15, 14, 14);
  overflow-y: auto;
  background-color: aliceblue;
  border: 2px solid #e94b3cff;

}
li{
  font-size: 20px;
  display: flex;
  align-items: center;
 word-spacing: 3px;
 margin-bottom: 40px;
 border:5px dotted dodgerblue ;
}
li button{
  height: 30px;
  width: 50px;
  color: aqua;

}
ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
